<?xml version="1.0" encoding="UTF-8"?>
<module>
    <field id="author">admin</field>
    <field id="created">2020-09-14 22:43:58.067 +0530</field>
    <field id="homePageContent" text-type="text/html">
        <![CDATA[<h1 id="polarion_wiki macro name=module-workitem;params=id=TP-419"></h1><p id="polarion_template_0">
  <br/>
</p><h2 id="polarion_wiki macro name=module-workitem;params=id=TP-418"></h2><p id="polarion_1">This is all about the introduction of the project</p><p id="polarion_2"></p><p id="polarion_3"></p><p id="polarion_4">
  <img src="attachment:diagram_20200914-2304.40456.mxg.png" style="width: 304px;height: 214px;" data-lastmodified="2020-09-14T23:04:40.460+05:30"/>
</p><div id="polarion_editor_html_block5" class="polarion-dle-wiki-block">
  <div id="polarion_editor_html_block_content" contentEditable="false"></div><pre id="polarion_editor_html_block_source" class="polarion-dle-wiki-block-source" contentEditable="false"></pre>
</div><p id="polarion_6"></p><p id="polarion_7"></p>]]>
    </field>
    <field id="outlineNumbering">
        <struct>
            <item id="prefix">SRS</item>
        </struct>
    </field>
    <field id="renderingLayouts">
        <list>
            <struct>
                <item id="label">Requirement</item>
                <item id="layouter">paragraph</item>
                <item id="properties">
                    <list>
                        <struct>
                            <item id="key">fieldsAtStart</item>
                            <item id="value">id</item>
                        </struct>
                        <struct>
                            <item id="key">fieldsAtEnd</item>
                            <item id="value">status</item>
                        </struct>
                    </list>
                </item>
                <item id="type">requirement</item>
            </struct>
        </list>
    </field>
    <field id="status">draft</field>
    <field id="structureLinkRole">parent</field>
    <field id="title">SRS</field>
    <field id="type">generic</field>
    <field id="usesOutlineNumbering">true</field>
</module>
